<table class="table table-hover m-auto">
  <tr><td>unsafe:</td><td><%= data.not_safe %></td></tr>
  <tr><td>no_mask:</td><td><%= data.no_mask %></td></tr>
  <tr><td>no_helmet:</td><td><%= data.no_helmet %></td></tr>
  <tr><td>safe:</td><td><%= data.safe %></td></tr>
  <tr><td>unconscious:</td><td id="unconscious"><%= data.unconcious %></td></tr>
  <tr><td>fire:</td><td id="fire"><%= data.fire %></td></tr>

</table>

<script>
    $(document).ready(function() {
        var a = $('#unconscious').text().trim();
        var b = $('#fire').text().trim();

        if (a !== '0') {
            Swal.fire({
                icon: 'warning',
                title: 'Someone is unconscious',
                text: 'Please take immediate action',
                confirmButtonText: 'OK'
            });
        }

        if (b !== '0') {
            Swal.fire({
                icon: 'error',
                title: 'Fire accident!',
                text: 'Evacuate the site and call emergency services',
                confirmButtonText: 'OK'
            });
        }
    });
</script>
